{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="content">
        {% if request.user.is_authenticated is False %}
            <h2>You are not logged in!</h2>
            <form method="POST">{% csrf_token %}
                {{ form.as_div }}
                <div class="form_bottom">
                    <a class='register_button' href="/register">Register</a>
                    <button class="orange_button" type="submit">Log in</button>
                </div>
            </form>
        {% else %}
            <p class="title">You are already logged in. Would you like to log out?</p>
            <div class="answers">
                <a class="red_button" href="/logout">Yes</a>
                <a class="orange_button" href="/">No</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}