$white: hsl(0, 12%, 95%);
$orange: hsl(28, 73%, 50%);
$red: hsl(4, 73%, 47%);
$grey: hsl(45, 3%, 47%);
$black: hsl(264, 6%, 15%);
$font-logo:'Fredoka One', cursive;
$font-text: 'Signika Negative', sans-serif;