@import 'variables';

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: $white;
    font-family: $font-text;
    font-weight: 400;
    color: $black;
}

//Similar elements

//Titles
.title{
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    @media (max-width: $mobile-size){
        font-size: 1.5em;
    }
}

//Orange button
.orange_button, .orange_button:active, .orange_button:visited{
    text-decoration: none;
    background-color: $orange;
    color: $white;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border: 1px $orange solid;
    border-radius: 0.4rem;
}
.orange_button:hover{
    background-color: hsl(28, 89%, 51%);
    border: 1px hsl(28, 89%, 51%) solid
}

//Red button
.red_button, .red_button:active, .red_button:visited{
    text-decoration: none;
    background-color: $red;
    color: $white;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border: 1px $red solid;
    border-radius: 0.4rem;
    @media (max-width: $mobile-size){
        text-align: center;
    }
}
.red_button:hover{
    background-color: hsl(4, 85%, 55%);
    border: 1px hsl(4, 85%, 55%) solid;
}


//Fields
.field_class, .field_class::placeholder{
    width: 25rem;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0 1rem 0 1rem;
    color: $black;
    background-color: $grey;
    border: 1px solid $grey;
    border-radius: 0.4rem;
    font-size: 0.9em;
    @media (max-width: $mobile-size){
        width: 17rem;
    }
}

.field_class::placeholder{
    padding: 0;
}

//Change Autocomplete styles in Chrome
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid $grey;
    border-radius: 0.4rem;
    -webkit-text-fill-color: $black;
    box-shadow: 0 0 0px 1000px $grey inset;
}

//base
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0 5rem;
    height: 10rem;
    @media (max-width: $mobile-size){
        flex-direction: column;
        justify-content: center;
    }
}

.logo_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    img{
        width: 3rem;
        height: auto;
        margin-right: 1rem;
    }
    .title, .title:active, .title:visited{
        font-family: $font-logo;
        color: $black;
    }
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    @media (max-width: $mobile-size){
        margin-right: 0;
        margin-top: 1rem;
    }
    .username{
        padding-right: 3rem;
        @media (max-width: $mobile-size){
            padding-right: 1rem;
        }
    }
}

//home
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3rem;
}

.create_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33.5rem;
    height: 5rem;
    @media (max-width: $mobile-size){
        width: 20.5rem;
        height: 3rem;
    }
}

.task{
    width: 30rem;
    height: 5rem;
    padding: 0 2rem 0 2rem;
    margin-bottom: 2.4rem;
    background-color: $grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px $grey solid;
    border-radius: 0.6rem;
    font-size: 1.3em;
    overflow: auto;
    @media (max-width: $mobile-size){
        width: 16rem;
        height: 5rem;
        font-size: 1em;
    }
    a{
        padding-top: 0.5rem;
    }
}

.text{
    padding-right: 1rem;
    margin: 0;
    text-align: center;
}

//Login and Logout
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: $mobile-size){
        width: 19rem;
    }
    .register_button, .register_button:active, .register_button:visited{
        color: $grey;
        text-decoration: none;
    }
    .register_button:hover{
        color: hsl(48, 3%, 38%);
    }
    .red_button{
        font-size: 1.05em;
    }
}

.answers{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobile-size){
        width: 17rem;
    }
}

//Passwords register
#id_password1, #id_password2{
    width: 25rem;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0 1rem 0 1rem;
    color: $black;
    background-color: $grey;
    border: 1px solid $grey;
    border-radius: 0.4rem;
    font-size: 0.9em;
    @media (max-width: $mobile-size){
        width: 17rem;
    }
}

#id_password2{
    margin-top: 1rem;
}

//Register form
.register_form{
    width: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#id_username{
    margin-top: 1rem;
}

//Create task
#id_content{
    width: 20rem;
    height: 3rem;
    background-color: $grey;
    //color: $black;
    color: $white;
    margin-bottom: 1rem;
    border: 1px solid $grey;
    border-radius: 0.4rem;
    font-size: 0.9em;
    padding: 0 1rem 0 1rem;
    @media (max-width: $mobile-size){
        width: 17rem;
    }
}

//Delete task
.delete{
    .red_button{
        font-size: 1em;
    }
    .title{
        width: 100%;
    }
}