{% extends 'base.html' %}

{% block title %}Delete task{% endblock title %}

{% block content %}
    <div class="content delete">
        {% if request.user.is_authenticated %}
            <p class="title">Are you sure you want to delete "{{ task.content }}"?</p>
            <form method="POST">{% csrf_token %}
                <div class="answers">
                    <button class="red_button" type="submit">Yes</button>
                    <a class="orange_button" href="/">No</a>
                </div>
            </form>
        {% else %}
            <p class="title">You are not logged in.</p>
            <a class="orange_button" href="/login">Log in</a>
        {% endif %}
    </div>
{% endblock content %}