{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated  %}
        <div class="user">
            <p class="username">{{ user.username }}</p>
            <a href="/logout/" class="button">Log out</a>
        </div>
        {% for task in tasks  %}
            {% if request.user.username == task.creator %}
                <div class="task">
                    <p class="content">
                        {{ task.content }}
                    </p>
                </div>
            {% endif %}
    {% endfor %}
    {% else %}
        <p>You are not logged in.</p>
        <a href="/login/">Log in NOW!</a>
    {% endif %}
{% endblock content %}